In [1]:
!pip install seaborn

Requirement already satisfied: seaborn in e:\my_projects\ml\zoomcamp\task_1\venv\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in e:\my_projects\ml\zoomcamp\task_1\venv\lib\site-packages (from seaborn) (2.1.1)
Requirement already satisfied: pandas>=1.2 in e:\my_projects\ml\zoomcamp\task_1\venv\lib\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in e:\my_projects\ml\zoomcamp\task_1\venv\lib\site-packages (from seaborn) (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in e:\my_projects\ml\zoomcamp\task_1\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.0)
Requirement already satisfied: cycler>=0.10 in e:\my_projects\ml\zoomcamp\task_1\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in e:\my_projects\ml\zoomcamp\task_1\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.54.0)
Requirement already satisfied: kiwisolver>=1.3.1 in e:\my_projects\ml\zoomcamp\task_1\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.7)
Requirement already satisfied: packaging>=20.0 in e:\my_projects\ml\zoomcamp\task_1\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.1)
Requirement already satisfied: pillow>=8 in e:\my_projects\ml\zoomcamp\task_1\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in e:\my_projects\ml\zoomcamp\task_1\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.4)
Requirement already satisfied: python-dateutil>=2.7 in e:\my_projects\ml\zoomcamp\task_1\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in e:\my_projects\ml\zoomcamp\task_1\venv\lib\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in e:\my_projects\ml\zoomcamp\task_1\venv\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in e:\my_projects\ml\zoomcamp\task_1\venv\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
!pip install matplotlib

Requirement already satisfied: matplotlib in e:\my_projects\ml\zoomcamp\task_1\venv\lib\site-packages (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in e:\my_projects\ml\zoomcamp\task_1\venv\lib\site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in e:\my_projects\ml\zoomcamp\task_1\venv\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in e:\my_projects\ml\zoomcamp\task_1\venv\lib\site-packages (from matplotlib) (4.54.0)
Requirement already satisfied: kiwisolver>=1.3.1 in e:\my_projects\ml\zoomcamp\task_1\venv\lib\site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: numpy>=1.23 in e:\my_projects\ml\zoomcamp\task_1\venv\lib\site-packages (from matplotlib) (2.1.1)
Requirement already satisfied: packaging>=20.0 in e:\my_projects\ml\zoomcamp\task_1\venv\lib\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in e:\my_projects\ml\zoomcamp\task_1\venv\lib\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in e:\my_projects\ml\zoomcamp\task_1\venv\lib\site-packages (from matplotlib) (3.1.4)
Requirement already satisfied: python-dateutil>=2.7 in e:\my_projects\ml\zoomcamp\task_1\venv\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in e:\my_projects\ml\zoomcamp\task_1\venv\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd
import numpy as np

import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

In [4]:
data = pd.read_csv('datasets/housing.csv')

In [5]:
data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [6]:
selected_proximity_data = data[(data['ocean_proximity'] == '<1H OCEAN') | (data['ocean_proximity'] == 'INLAND')]
selected_proximity_data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
701,-121.97,37.64,32.0,1283.0,194.0,485.0,171.0,6.0574,431000.0,<1H OCEAN
830,-121.99,37.61,9.0,3666.0,711.0,2341.0,703.0,4.6458,217000.0,<1H OCEAN
859,-121.97,37.57,21.0,4342.0,783.0,2172.0,789.0,4.6146,247600.0,<1H OCEAN
860,-121.96,37.58,15.0,3575.0,597.0,1777.0,559.0,5.7192,283500.0,<1H OCEAN
861,-121.98,37.58,20.0,4126.0,1031.0,2079.0,975.0,3.6832,216900.0,<1H OCEAN
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [7]:
features = ['latitude', 'longitude', 'housing_median_age', 'total_rooms', 'total_bedrooms', 'population', 'households', 'median_income', 'median_house_value']
selected_columns = selected_proximity_data[features]
selected_columns

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
701,37.64,-121.97,32.0,1283.0,194.0,485.0,171.0,6.0574,431000.0
830,37.61,-121.99,9.0,3666.0,711.0,2341.0,703.0,4.6458,217000.0
859,37.57,-121.97,21.0,4342.0,783.0,2172.0,789.0,4.6146,247600.0
860,37.58,-121.96,15.0,3575.0,597.0,1777.0,559.0,5.7192,283500.0
861,37.58,-121.98,20.0,4126.0,1031.0,2079.0,975.0,3.6832,216900.0
...,...,...,...,...,...,...,...,...,...
20635,39.48,-121.09,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0
20636,39.49,-121.21,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0
20637,39.43,-121.22,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0
20638,39.43,-121.32,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0
20639,39.37,-121.24,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0

In [8]:
selected_columns.isnull().sum()

latitude                0
longitude               0
housing_median_age      0
total_rooms             0
total_bedrooms        157
population              0
households              0
median_income           0
median_house_value      0
dtype: int64

In [9]:
selected_columns.population.median()

np.float64(1195.0)

In [10]:
np.random.seed(42)
n = len(selected_columns)
n_val = int(0.2 * n)
n_test = int(0.2 * n)
n_train = n - (n_val + n_test)

idx = np.arange(n)
np.random.shuffle(idx)

data_shuffled = selected_columns.iloc[idx]
train_x = data_shuffled.iloc[:n_train].copy()
val_x = data_shuffled.iloc[n_train:n_train+n_val].copy()
test_x = data_shuffled.iloc[n_train+n_val:].copy()

In [11]:
train_y_orig = train_x.median_house_value.values
val_y_orig = val_x.median_house_value.values
test_y_orig = test_x.median_house_value.values

In [12]:
train_y  = np.log1p(train_x.median_house_value.values)
val_y = np.log1p(val_x.median_house_value.values)
test_y = np.log1p(test_x.median_house_value.values)

In [13]:
del train_x['median_house_value']
del val_x['median_house_value']
del test_x['median_house_value']

In [14]:
def train_linear_regression(X, y):
    ones = np.ones(X.shape[0])
    X = np.column_stack([ones, X])

    XTX = X.T.dot(X)
    XTX_inv = np.linalg.inv(XTX)
    w = XTX_inv.dot(X.T).dot(y)
    
    return w[0], w[1:]

In [15]:
def rmse(y, y_pred):
    error = y_pred - y
    mse = (error ** 2).mean()
    return np.sqrt(mse)

In [16]:
def prepare_X_with_0(data):
    data = data.fillna(0)
    X = data.values
    return X

In [17]:
def prepare_X_with_mean(data):
    mean = data['total_bedrooms'].mean()
    data = data.fillna(mean)
    X = data.values
    return X

In [18]:
X_train_1 = prepare_X_with_0(train_x)
w0_1, w1_1 = train_linear_regression(X_train_1, train_y)

X_val_1 = prepare_X_with_0(val_x)
y_pred_1 = w0_1 + X_val_1.dot(w1_1)
y_pred_1

array([11.71830182, 12.47794996, 11.84203817, ..., 12.40213723,
       12.06030557, 12.06854096])

In [19]:
X_train_2 = prepare_X_with_mean(train_x)
w0_2, w1_2 = train_linear_regression(X_train_2, train_y)

X_val_2 = prepare_X_with_mean(val_x)
y_pred_2 = w0_2 + X_val_2.dot(w1_2)
y_pred_2

array([11.71462282, 12.47428049, 11.84127314, ..., 12.39294053,
       12.05541417, 12.06224727])

In [20]:
rmse_1 = round(rmse(val_y, y_pred_1), 2)
rmse_1

np.float64(0.34)

In [21]:
rmse_2 = round(rmse(val_y, y_pred_2), 2)
rmse_2

np.float64(0.34)

In [22]:
def train_linear_regression_reg(X, y, r=0.0):
    ones = np.ones(X.shape[0])
    X = np.column_stack([ones, X])

    XTX = X.T.dot(X)
    reg = r * np.eye(XTX.shape[0])
    XTX = XTX + reg

    XTX_inv = np.linalg.inv(XTX)
    w = XTX_inv.dot(X.T).dot(y)
    
    return w[0], w[1:]

In [23]:
for r in [0, 0.000001, 0.0001, 0.001, 0.01, 0.1, 1, 5, 10]:
    w0_3, w1_3 = train_linear_regression_reg(X_train_1, train_y, r=r)
    y_pred_3 = w0_3 + X_val_1.dot(w1_3)
    rmse_3 = round(rmse(val_y, y_pred_3), 2)
    print(f"{r} - {rmse_3}")

0 - 0.34
1e-06 - 0.34
0.0001 - 0.34
0.001 - 0.34
0.01 - 0.34
0.1 - 0.34
1 - 0.34
5 - 0.35
10 - 0.35

In [24]:
seeds = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
rmses = []
for sed in seeds:
    np.random.shuffle(idx)

    data_shuffled = selected_columns.iloc[idx]
    train_x = data_shuffled.iloc[:n_train].copy()
    val_x = data_shuffled.iloc[n_train:n_train+n_val].copy()
    test_x = data_shuffled.iloc[n_train+n_val:].copy()
    train_y  = np.log1p(train_x.median_house_value.values)
    val_y = np.log1p(val_x.median_house_value.values)
    test_y = np.log1p(test_x.median_house_value.values)
    
    X_train = prepare_X_with_0(train_x)
    w0, w1 = train_linear_regression(X_train, train_y)
    X_val = prepare_X_with_0(val_x)
    y_pred = w0 + X_val.dot(w1)
    rmses.append(rmse(val_y, y_pred))
print(round(np.std(rmses), 3))

0.003

In [25]:
np.random.seed(9)

In [26]:
n_val = int(0.2 * n)
n_test = int(0.2 * n)
n_train = n - (n_val + n_test)

idx = np.arange(n)
np.random.shuffle(idx)

data_shuffled = selected_columns.iloc[idx]

x_train = data_shuffled.iloc[:(n_train + n_val)].copy()
x_test = data_shuffled.iloc[(n_train + n_val):].copy()

In [27]:
train_y_orig = train_x.median_house_value.values
test_y_orig = test_x.median_house_value.values

In [28]:
train_y  = np.log1p(x_train.median_house_value.values)
test_y = np.log1p(x_test.median_house_value.values)

In [29]:
del train_x['median_house_value']
del test_x['median_house_value']

In [30]:
X_prep = prepare_X_with_0(x_train)
w0, w1 = train_linear_regression_reg(X_prep, train_y, r=0.001)

In [31]:
X_test_prep = prepare_X_with_0(x_test)
y_pred = w0 + X_test_prep.dot(w1)

In [32]:
rmse(test_y, y_pred)

np.float64(0.16556795121868173)